In [1]:
# IF Statements

In [4]:
a = 12

if a==10:     # if statement makes a condition 
  print("YES a is 10")   # based on the validity of the above condition this statement gets executed

In [5]:
# == is for checking 
# = is for assignment

In [7]:
a  = 15
if a == 12:
  print("a is 12")
print("This statement will work always")

This statement will work always

In [10]:
a=9 
if a == 10:
  print("a is 10")
else:
  print('a is not 10')
print("This statement will work always")

a is not 10
This statement will work always

In [14]:
marks_obtained = 90

if 100 >= marks_obtained> 90:
  print("Ist division")
elif 90 >= marks_obtained > 70:
  print("IInd division")
elif 70 >= marks_obtained > 50:
  print("IIIrd")
elif 50 >= marks_obtained > 40:
  print("IVth")
elif 40 >= marks_obtained > 0: 
  print("Sorry,... better luck next time")
else:
  print("Invalid Score")

IInd division

In [ ]:
# 100 > marks_obtained> 90
# marks_obtained > 90 and marks_obtained < 100
# Both are same!

In [15]:
alist = [1,2,3,4,5]
for i in alist:
  print(i)

1
2
3
4
5

In [17]:
a = 10
while a <= 20:
  print("Value of a :", a)
  a = a + 1

Value of a : 10
Value of a : 11
Value of a : 12
Value of a : 13
Value of a : 14
Value of a : 15
Value of a : 16
Value of a : 17
Value of a : 18
Value of a : 19
Value of a : 20

In [18]:
# # This is infinite loop, please do not run this
# a = 30                        # a = 30
# while a > 20:                 # True 
#   print("Value of a :", a)    # 
#   a = a + 1                   # a = 31
# # This is infinite loop, please do not run this

In [19]:
# Select multiple lines and press Ctrl + / to make comments in multiple lines

In [20]:
a = 30                        # a = 30
while a > 20:                 # True 
  print("Value of a :", a)    # 
  a = a - 1                   # a = 31

Value of a : 30
Value of a : 29
Value of a : 28
Value of a : 27
Value of a : 26
Value of a : 25
Value of a : 24
Value of a : 23
Value of a : 22
Value of a : 21

In [21]:
# use "while" with caution

In [ ]:
# when will we use ":" - for, if, while, functions, class

In [23]:
print("Some code ...")
print("Some code again ...")
print("Some code ...")
print("Some code ...")
print("Some code ...")
print("Some code ...")

for i in range(3):
  print("Inside for loop")
b = 2
print("Some code ...")

Some code ...
Some code again ...
Some code ...
Some code ...
Some code ...
Some code ...
Inside for loop
Inside for loop
Inside for loop
Some code ...

In [25]:
# Tuples - like list but with no modifications

In [32]:
a = (1,2,3,4,5,1,1,100)

In [27]:
type(a)

tuple

In [29]:
a.count(1)

3

In [30]:
a.index(100)

7

In [33]:
a.index(50000)

ValueError: ignored

In [31]:
user_pass = ("python@example.com", "Python@6475")

In [34]:
list(user_pass)

['python@example.com', 'Python@6475']

In [35]:
tuple(a)

(1, 2, 3, 4, 5, 1, 1, 100)

In [38]:
list(range(1, 15, 2))   # start, stop, step(default value is 1)

[1, 3, 5, 7, 9, 11, 13]

In [39]:
list(range(10))        # start (deafult value is 0) , step = 1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# f strings

In [89]:
a = 10 
print(f"This is a f-string and you can see value if a is {a}")

This is a f-string and you can see value if a is 10

In [40]:
## Functions

In [43]:
def email(student_name):
  print(f"Hello {student_name}\nHope you & your family are doing great! \n\nThis email is to inform you that your final year exams have been cancelled :) :) :) \n\nThanks \nYours ..... ")

In [44]:
email("Shivam")

Hello Shivam
Hope you & your family are doing great!

This email is to inform you that your final year exams have been cancelled :) :) :)

Thanks
Yours .....

In [45]:
email("Guido")

Hello Guido
Hope you & your family are doing great!

This email is to inform you that your final year exams have been cancelled :) :) :)

Thanks
Yours .....

In [46]:
email("Donald")

Hello Donald
Hope you & your family are doing great!

This email is to inform you that your final year exams have been cancelled :) :) :)

Thanks
Yours .....

In [48]:
def hw():               # reserved keyword def , function_name, parenthesis is required, inside parenthesis input parameter
  print("Hello World")  # Things to do when a function is called

In [49]:
hw()                    # Calling a function

Hello World

In [50]:
def esum():              # esum is the name of function, 
  c = 10 + 2             # it has to perform 10 + 2 
  return c               # and not printing rather returning the result

In [53]:
result = esum()
print(result)

12

In [54]:
def esum(a, b):                # esum is the name of function, we are asking user to input 2 parameters 
  c = a + b                    # we perform operation on a & b 
  return c                     # and not printing rather returning the result

In [56]:
esum(10, 12)

22

In [57]:
esum(10, 15)

25

In [58]:
esum(10, 95)

105

In [74]:
def ecalc (a, b, operation):
  """
  ecalc - is a e calculator currently supporting addition and substraction. 
  params: a(int/float) - the first parameter 
  params: b(int/float) - the second parameter
  params: operation(str) - Either sum or sub
  """
  if operation == "sum":
    print("XYZ")
    return a + b
    print("ABC")              # The function is closed as soon as it encounters return statement, anything below it is not compliled! 
  elif operation == "sub":
    return a -b 
  else:
    return 0

In [75]:
ecalc(10, 5, "sum")

XYZ

15

In [76]:
ecalc(10, 5, "sub")

5

In [73]:
print(ecalc.__doc__)

  ecalc - is a e calculator currently supporting addition and substraction.
  params: a(int/float) - the first parameter
  params: b(int/float) - the second parameter
  params: operation(str) - Either sum or sub

In [77]:
# using print 
def hw():
  print("Hello World")

In [79]:
result = hw()

Hello World

In [80]:
print(result)

None

In [81]:
# using return 
def hw():
  return "Hello World"

In [83]:
result = hw()

In [84]:
result

'Hello World'

In [85]:
alist = [[1,2,3], [4,5,6], [7,8,9]]
for i in alist:
  print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [86]:
alist = [[1,2,3], [4,5,6], [7,8,9]]
for i in alist:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9

In [92]:
rows=int(input("Enter rows: "))
for r in range(1, rows+1):         #1,2,3,4,5
    for c in range(1, r+1):
        print("*",end=' ')
    print(" ")

Enter rows: 5
*
* *
* * *
* * * *
* * * * *

In [93]:
print("a\n\nb")

a

b

In [95]:
rows=int(input("Enter rows: "))
for r in range(1, rows+1):         
    for c in range(1, r+1):
        print("*")
    print(" ")

Enter rows: 5
*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

In [100]:
print("Python", end=" ")
print("JAVA")

Python JAVA

In [101]:
# ecalc()   #To see help of function - write func name and press Shift + Tab

In [102]:
alist = [10, 15, 20, 25 , 30]
for i in alist:
  print(i)

10
15
20
25
30

In [104]:
alist = [10, 15, 20, 25 , 30]
for i in alist:
  print(i, end=" - ")

10 - 15 - 20 - 25 - 30 -

In [105]:
"""
* * * * * 
* * * * 
* * * 
* * 
* 
"""

'\n* * * * * \n* * * * \n* * * \n* * \n* \n'