In [1]:
# <------------------INPUT VARIABLES ----------------------><--OUTPUT-->
# Total Carpet Area | # of Rooms | # of Bedrooms | Parking | House Price 
# <----------- INDEPENDENT VARIABLES ----------------------><-DEPENDENT VARIABLE->

In [2]:
#LR Assumptions 
# 1. The dependent variable should have a linear relationship with independent variable 
# irrespective of directly/inversely proportional
# 2. None of your independent variable should be correlated, if any delete the column
# 3. Residual (TBD)
# 4. Linear Regression always expects you to enter numerical value. 
#    All boolean values should be converted to numerical 
#    All string values should be converted to numerical through OneHotEncoding techniques
#    Type_of_House => Apartment, Villa, PentHouse -> 1,0,0 | 0,1,0 | 0,0,1
#    Type_of_House_A, Type_of_House_V, Type_of_House_P
#Apartment         1,               0,               0
#Villa             0,               1,               0
#PentHouse         0,               0,               1

In [ ]:
# house_price = m1*(carpet_area) + m2*(no_of_rooms) + m3*(no_of_bedroom) + m4*(parking) + C
# LR will help you to find values of m1/m2/m3/m4 & C
# house_price = 3*(carpet_area) + 5.3*(no_of_rooms) + 6.1*(no_of_bedrooms) + 2*parking + 17

In [3]:
# This is not an example of Regression
# Blood Group | Insuline Level | Glusoce Level | Skin Thickness (mm) | Skin Thickness (cm) | Diabetes (Y/N)Vill

In [5]:
import pandas as pd 
df = pd.DataFrame(columns=["Type_of_House"])

In [6]:
df["Type_of_House"] = ["Apt", "Pent", "Villa", "Pent", "Pent", "Pent", "Villa", "Apt"]

In [8]:
df

  Type_of_House
0           Apt
1          Pent
2         Villa
3          Pent
4          Pent
5          Pent
6         Villa
7           Apt

In [7]:
pd.get_dummies(df.Type_of_House)

   Apt  Pent  Villa
0    1     0      0
1    0     1      0
2    0     0      1
3    0     1      0
4    0     1      0
5    0     1      0
6    0     0      1
7    1     0      0

In [9]:
# Maths behind the scenes

In [11]:
# house_price = 3*(carpet_area) + 5.3*(no_of_rooms) + 6.1*(no_of_bedrooms) + 2*parking + 17
# Where are these slopes(or coeff of input variable) + Constants are coming

In [66]:
import numpy as np
df = pd.DataFrame(columns=["carpet_area", "no_of_rooms", "no_of_bedrooms", "parking", "PRICE"])
df.carpet_area = np.random.randint(1600, 3000, 10)
df.no_of_rooms = np.random.randint(1, 10, 10)
df.no_of_bedrooms = np.random.randint(2, 5, 10)
df.parking = np.random.randint(0, 2, 10)
df.PRICE = np.random.random(10) + np.random.randint(2, 10, 10)*100

In [67]:
df_raw = df.copy()
df

   carpet_area  no_of_rooms  no_of_bedrooms  parking       PRICE
0         2420            7               2        0  400.332897
1         1952            9               3        0  400.858354
2         2507            7               4        0  600.851557
3         1803            8               3        0  400.544752
4         2075            9               3        1  700.946210
5         1963            6               3        1  700.353955
6         2751            5               2        1  700.335758
7         1988            4               4        1  300.538673
8         2618            4               3        0  500.575485
9         2612            4               3        1  400.142151

In [68]:
# m1 = r1.Sy/Sx
# m1 = slope/coeff. of carpet_area 
# r = Pearson Correlation 
# Sy = Std of y 
# Sx = Std of x

In [51]:
! pip install -q latexify-py

In [69]:
import latexify
import math

In [70]:
@latexify.with_latex
def m():
  return r*S_y/S_x
m

In [71]:
@latexify.with_latex
def r():
  return sum((x-x_m)*(y-y_m))/math.sqrt(sum(x-x_m)**2 * sum(y-y_m)**2)
r
#x_m - stands for mean of x
#y_m - stands for mean of y

In [72]:
ca_m = df.carpet_area.mean(), 
p_m  = df.PRICE.mean()

In [73]:
df["ca-m"] = df.carpet_area - ca_m
df["Price-m"] = df.PRICE - p_m

In [74]:
df["ca-m*Price-m"] = df["ca-m"] * df["Price-m"]

In [75]:
df["ca-m*Price-m"].sum()  # numerator for "r"

105005.7290837517

In [76]:
@latexify.with_latex
def S_y():
  return math.sqrt(sum(y-y_m)**2/n)
S_y

In [77]:
@latexify.with_latex
def S_x():
  return math.sqrt(sum(x-x_m)**2/n)
S_x

In [78]:
# y = mx + c
# y - mx 
# constant = y_m - m*x_m
@latexify.with_latex
def constant():
  return y_m - m*x_m
constant

In [79]:
from sklearn.linear_model import LinearRegression

In [84]:
df_raw.iloc[:, 0:4]

   carpet_area  no_of_rooms  no_of_bedrooms  parking
0         2420            7               2        0
1         1952            9               3        0
2         2507            7               4        0
3         1803            8               3        0
4         2075            9               3        1
5         1963            6               3        1
6         2751            5               2        1
7         1988            4               4        1
8         2618            4               3        0
9         2612            4               3        1

In [85]:
lr = LinearRegression()
lr.fit(df.iloc[:, 0:4], df.PRICE)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [90]:
df_raw.columns

Index(['carpet_area', 'no_of_rooms', 'no_of_bedrooms', 'parking', 'PRICE'], dtype='object')

In [89]:
print(lr.coef_)
print(lr.intercept_)

[  0.26943452  55.31954228   9.54471317 172.48216477]
-564.16034262698

In [91]:
# house_price = 0.26*carpet_area + 55.31 * no_of_rooms + 9.54 * no_of_bedrooms + 172.48 * parking +- 564.16