In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(columns=["Gender", "Continent", "Score"])

In [3]:
df["Gender"] = [np.random.choice(["Male", "Female", "Other"]) for i in range(30)]
df["Continent"] = [np.random.choice(["Asia", "NA", "SA", "Africa", "Europe", "China", "Australia"]) for i in range(30)]
df["Score"] = np.random.randint(0, 10, 30)

In [4]:
df.head()

  Gender  Continent  Score
0   Male     Africa      5
1   Male         SA      4
2   Male     Europe      6
3  Other         SA      8
4   Male  Australia      4

In [7]:
pd.crosstab(df.Gender, df.Continent, df.Score, aggfunc=np.mean)

Continent  Africa  Asia  Australia     China  Europe   NA        SA
Gender
Female        2.0   2.0        2.5       NaN     NaN  0.0  5.333333
Male          4.0   5.0        4.0  3.666667     7.0  4.0  5.000000
Other         8.0   5.0        NaN  9.000000     6.0  0.0  5.250000

In [8]:
# array([[[[12, 22],
#          [25, 24]],

#         [[ 2, 12],
#          [21, 19]],

#         [[ 3, 29],
#          [ 3,  6]]]])
# Shape 1,3,2,2
# #[0,1,1,1] - 19

In [11]:
np.array([[[0]]]).shape

(1, 1, 1)

In [12]:
# Types of Machine learning
# 1. Supervised ML
#   1.1. Classification
#   1.2. Regression
# 2. Unsupervised ML (Clustering) 
# 3. Reinfrocement Learning

In [13]:
# 1. Supervised Learning - The output is available while training the data. 
# Sq.Feet | # of Rooms | # of Bedrooms | Parking | Price of House (output/dependent variable)

# 2. Unsupervised Learning - The output column is not available while training the data.
# Sq.Feet | # of Rooms | # of Bedrooms | Parking  

# In this case when we dont have output "Price of House" the unsupervised learning will not 
# predict the price rather it will cluster similar houses together. 

# Example - Customer Segmentation 

# 3. Reinforcement Learning

In [14]:
# 1. Supervised Learning 
# 1.1. Classification - When the output of ML is categorical in nature
# 1.2. Regression  - When the output of ML is continuous in nature

In [15]:
# Example -> House Price - Regression
#         -> Weather prediciton (Cloudy/Rainy/Sunny) - Classification
#         -> Temperature Prediction -Regression

In [16]:
# Regression algorithm - 
# 1. Linear Regression

# Classification algorithm - 
# 1. Logistic Regression
# 2. Decision Trees
# 3. Random Forest 
# 4. Boosted Models (XGBoost)
# 5. SVM

# Unsupervised algorithms -
# 1. KMeans
# 2. DBScan

In [ ]:
# Ensemble - Do predictions based on multiple models (but combine similar type of model)
# Regression based model cant be joined with Classification based